<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Products</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <style>
      .product-card {
           margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Real Time Products</h1>
         <div id="products-container">
         </div>
         <h2>Agregar producto</h2>
         <form id="add-product-form">
                <div class="input-field">
                    <input type="text" id="title" placeholder="Title" required>
                </div>
                 <div class="input-field">
                     <input type="text" id="description" placeholder="Description" required>
                </div>
                 <div class="input-field">
                     <input type="text" id="price" placeholder="Price" required>
                 </div>
                  <div class="input-field">
                     <input type="text" id="stock" placeholder="Stock" required>
                 </div>
                   <div class="input-field">
                     <input type="text" id="category" placeholder="Category" required>
                 </div>
                    <div class="input-field">
                     <input type="text" id="code" placeholder="Code" required>
                   </div>
                     <div class="input-field">
                        <input type="text" id="thumbnails" placeholder="Thumbnails (separados por coma)" required>
                    </div>
                  <button class="btn" type="submit">Agregar</button>
           </form>
            <h2>Borrar Producto</h2>
         <form id="delete-product-form">
                <div class="input-field">
                    <input type="text" id="id" placeholder="id" required>
                </div>
                 <button class="btn" type="submit">Borrar</button>
            </form>
     </div>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
   ></script>
   <script src="/socket.io/socket.io.js"></script>
   <script>
      const socket = io();
      const productsContainer = document.getElementById('products-container');
      const addProductForm = document.getElementById('add-product-form');
      const deleteProductForm = document.getElementById('delete-product-form');

      socket.on('products', (products) => {
            let html = '';
            products.forEach(product => {
            html += `
            <div class="card product-card">
               <div class="card-content">
                    <span class="card-title">${product.title}</span>
                        <p>${product.description}</p>
                           <p><strong>Precio:</strong> $${product.price}</p>
                                <p><strong>Stock:</strong> ${product.stock}</p>
                </div>
             </div>
              `;
            });
            productsContainer.innerHTML = html;
        });

         addProductForm.addEventListener('submit', (event) => {
            event.preventDefault();
           const title = document.getElementById('title').value;
           const description = document.getElementById('description').value;
           const price = document.getElementById('price').value;
            const stock = document.getElementById('stock').value;
            const category = document.getElementById('category').value;
            const code = document.getElementById('code').value;
           const thumbnails = document.getElementById('thumbnails').value.split(',');
            socket.emit('addProduct', { title, description, price, stock, category, code, thumbnails });
             addProductForm.reset();

         });

      deleteProductForm.addEventListener('submit', (event) => {
           event.preventDefault();
         const id = document.getElementById('id').value;
           socket.emit('deleteProduct', id);
          deleteProductForm.reset();
        });
      socket.emit('getProducts');
     </script>
</body>
</html>